@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --shadow-color: rgba(227, 144, 96, 0.855);
    --tags-bg-color: rgba(250, 237, 230, 0.945);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

ion-menu::part(backdrop) {
  background-color: var(--shadow-color)
}

ion-menu::part(container) {
  border-radius: 0 0 0 0;
  box-shadow: 4px 0px 16px var(--shadow-color)
}

.ck {

  ol,
  ul {
    padding-left: 15px;
  }

  a {
    text-decoration: underline !important
  }

  h2,
  h3,
  h4 {
    margin-top: 16px !important;
    margin-bottom: 10px !important;
    font-weight: 500 !important;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

@media (max-width:340px) {
  .menu-inner {
    --width: 130px !important;
  }

}

.nkPressed {
  background-color: black !important;
}

.updateAtLabel {
  cursor: pointer;
  font-size: smaller !important;
  color: #757575 !important;
  width: 100%;
}

.bg-muted {
  background-color: var(--tags-bg-color);
}

.p-1 {
  padding: 3rem;
}

/* .divTagsCol,
.divTagsRow {

  display: flex !important;
  width: 100%;
  gap: 0.5rem;
  background-color: inherit;
  border-top: 1px;
}

.divTagsCol {
  flex-direction: column !important;
  height: 9rem;
  align-items: flex-start;
}

.divTagsRow {
  flex-direction: row !important;
  height: 5rem;
} */

.divNoteListItemCol {
  padding: 0.5rem;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
  width: 100%;

}

.divNoteListItemRow {
  padding: 0.5rem;
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

@media (min-width:341px) and (max-width:800px) {
  .divNoteListItemRow {
    flex-direction: column !important;
    align-items: flex-start;
    width: 50vw;
  }


}

@media (max-width:340px) {
  .divNoteListItemRow {
    flex-direction: column !important;
    align-items: flex-start;
    width: 50vw;
  }

  /* .divTagsRow {
    flex-direction: column !important;
    height: 9rem;
  } */
}

.sc-ion-label-md-h {
  display: flex !important;
  flex-direction: row !important;
  width: 200px
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}